<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Basic Splatter Client</title>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="UserController as user">
			<H2>Login</h2>
			<form ng-submit="user.login()">
				<input type="text" ng-model="user.data.id" />
				<input type="submit" value="Login" />
			</form>
	
			<p>User ID: {{user.loggedin_user.id}}</p>
			<p>Name: {{user.loggedin_user.name}}</p>
			<p>Email: {{user.loggedin_user.email}}</p>
			<p>{{user.loggedin_user.blurb}}</p>
			
			<!-- EDIT USER -->
			<div>
				<form ng-submit="user.updateUser()">
					<H2>Edit User</h2>
					<input type="text" ng-model="user.data.name"  placeholder="new username"/> <br />
					<input type="text" ng-model="user.data.email" placeholder="new email"/> <br />
					<textarea ng-model="user.data.blurb" placeholder="blurb"></textarea> <br />
					<input type="submit" value="Update" />
				</form>
			</div>
			
			<!-- CREATE USER -->
			<div ng-controller="AddUserController as form">
			
				<form ng-submit="user.createUser()" name="AddUserForm">
					<H2>Create user</h2>
					<input type="text" ng-model="user.data.cname" placeholder="Enter username"/> <br />
					<input type="text" ng-model="user.data.cemail" placeholder="Enter email" required/> <br />
					<input type="password" ng-model="user.data.cpassword" placeholder="Enter password"/> <br />
					<textarea ng-model="user.data.cblurb" placeholder="Type a blurb"></textarea> <br />
					<input type="submit" value="Create" />
				</form>
					<p>{{user.loggedin_user.id}}</p>
					<p>{{user.loggedin_user.name}}</p>
					<p>{{user.loggedin_user.email}}</p>
					<p>{{user.loggedin_user.blurb}}</p>
			
			</div>
			
			<!-- DELETE USER -->
			<div>
				<form ng-submit="user.delUser()">
					<H2>Delete user</h2>
					<select ng-model="user.data.delid">
						<option ng-repeat="u in user.ulist">{{u.id}}</option>
					</select>
					<input type="submit" value="Delete" />
				</form>
			</div>
		</div>
	</body>
</html>